@import "../../styles/vars.scss";

li {
  list-style: none;
  text-transform: uppercase;
  @include ButtonFont;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.home__link {
  width: 10%;
  display: flex;
  justify-content: center;
}

a {
  color: $main-color;
  text-decoration: none;

  &:visited {
    text-decoration: underline;
    color: $main-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header__container {
  margin: 0;
  max-width: 100%;
  width: 100%;
  max-height: 11vh;
  background-color: transparent;
  box-shadow: 0px 7px 9px -4px rgba(214, 209, 255, 0.6);

  .header__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .header__item {
      color: white;
      text-shadow: 1px 1px 2px pink;

      &:hover {
        text-shadow: 3px 3px 7px rgb(255, 188, 242);
      }
    }

    img {
      width: 60%;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 7px 3px rgb(255, 188, 242);
        transition: 0.2s;
      }
    }
  }
}
