@import "../../styles/vars.scss";

.buttonSave {
  background-color: greenyellow;
  @include ButtonFont;
  color: black;
}

.buttonEdit {
  background-color: rgb(54, 148, 255);
  @include ButtonFont;
}

.buttonDelete {
  background-color: rgba(146, 15, 146, 0.696);
  @include ButtonFont;
}

.buttonAdd {
  background-color: rgb(103, 41, 249);
  @include ButtonFont;
}

.buttonCansel {
  background-color: red;
  @include ButtonFont;
}

.buttonTranslate {
  @include BthRoundRadius;
  @include FontStyleBold;
  color: $button-color;
  font-size: 15px;
  margin-top: 5px;
  background-color: rgba(81, 29, 133, 0.556);

  &:hover {
    @include HoverTranslateShadow;
    cursor: pointer;
  }

  &:focus {
    @include HoverTranslateShadow;
    cursor: pointer;
  }
}

.generalButton {
  border: none;
  @include BthRoundRadius;
  width: 7em;
  height: 3em;

  &:hover {
    @include HoverShadow;
    cursor: pointer;
  }
}

.generalButton__disabled {
  background-color: rgb(161, 161, 161);
  @include ButtonFont__Disabled;
  border: none;
  @include BthRoundRadius;
  width: 7em;
  height: 3em;
}

.button {
  @include FlexCenter;
  align-items: center;
  background-color: rgba(81, 29, 133, 0.556);
  box-shadow: 2px 5px 10px 2px rgba(255, 255, 255, 0.4);
  border: none;

  @include BthRoundRadius;
  @include FontStyleBold;
  color: white;
  text-transform: uppercase;

  margin: auto;
  width: 9em;
  height: 3em;

  &:hover {
    @include HoverShadow;
  }

  &:focus {
    @include HoverShadow;
  }
}

.buttons__container {
  display: flex;
  justify-content: space-evenly;
}
